.car-block {
	display: flex;
	flex-direction: column;
	height: auto;
}

.car-img {
	width: 100%;
	position: relative;
	transform: none;
	float: none;
}

.car-details {
	width: 100%;
	position: relative;
}

#makes-block {
	display: none;
}
