#menuToggle {
	position: absolute;
	top: 35px;
	right: 80px;
}

#menuToggle input {
	height: 32px;
	width: 40px;
	position: absolute;
	left: -8px;
	z-index: 1;
	display: inline-block;

	cursor: pointer;
	opacity: 0;
}

#menuToggle span {
	height: 3px;
	width: 33px;
	display: block;

	margin-bottom: 5px;
	background-color: silver;
	border-radius: 3px;
	transform-origin: 100%;
}

#menuToggle input:checked ~ span {
	width: 20px;
	height: 2px;
	background-color: rgba(255,84,0,0.8);
	opacity: 0.7;
	transform: rotate(-45deg);
}

#menuToggle input:checked ~ span:last-of-type {
	transform: rotate(45deg);
}

#menuToggle input:checked ~ span:nth-of-type(2) {
	opacity: 0;
}

#menu {
	width: 140px;
	display: none;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#menu .nav-point, #menuToggle input:checked ~ #menu {
	display: block;
}