#logo-block {
	width: 40%;
}

nav {
	left: 60%;
}

.choose-form {
	width: 280px;
	position: relative;
	right: auto;
	top: 155px;
	margin: auto;
}

#advant-list div {
	width: 100%;
}

.ad-block {
	height: auto;
	flex-direction: column;
}

.ad-block #left, .ad-block #right {
	width: 100%;
}

.ad-block img {
	margin-top: 40px;
}

#contacts {
	flex-direction: column-reverse;
}

#our-contacts {
	flex-direction: column;
}

#our-contacts, #contact-form, #contact-details, #map-location {
	width: 100%;
	margin-left: 7%;
	margin-right: 2%;
}

#myBtn {
	bottom: 20px;
}
