@import url('menu.css');

#logo {
	width: 120px;
	top: 35%;
	left: 10%;
	position: absolute;
}

nav {
	width: 140px;
	top: 80px;
	left: 70%;
	flex-direction: column;
	text-align: center;
}

.nav-point {
	display: none;
	border: none;
}

.dropdown-menu {
	min-width: 160px;
	display: block;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#menuToggle {
	display: block;
	position: fixed;
}

.dropdown-content {
	position: absolute;
	right: 80%;
	top: 90%;
}

#advant-list div {
	width: 50%;
}

#advant-list {
	flex-wrap: wrap;
}

.ad-block img {
	vertical-align: center;
	height: 60%;
}

#contact-form {
	width: 30%;
}

#contact-details, #map-location {
	width: 49%;
}

iframe, .mapouter, .gmap_canvas {
	width: 190px;
	height: 220px;
}

iframe {
	margin-top: 15%;
}

